* {
    font-family: monospace;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculator {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    border: solid darkslategray;
}

.row {
    display: flex;
}

.display {
    margin: 2px;
    margin-bottom: 5px;
    width: 312px;
    height: 100px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 5px;
    border: solid grey;
    box-sizing: border-box;
    font-size: 50px;
}

.keys * * {
    box-sizing: border-box;
    margin: 2px;
    width: 75px;
    height: 60px;
    border-radius: 5px;
    border: solid grey;
    font-size: 24px;
    color: black;
}

.keys * *:active {
    opacity: 75%;
}

#zero {
    width: 154px;
}

.number,
#decimal {
    background-color: palegoldenrod;
}

#all-clear,
#change-sign,
#percent {
    background-color: palevioletred;
}

.operator,
#equals {
    background-color: palegreen;
}